<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arni.weatherapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">


        <receiver android:name=".WeatherWidget">
            android:label="Weather Widget"
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_config" />
        </receiver>

        <!--<receiver android:name=".ConnectionInfo">-->
        <!--<intent-filter>-->
        <!--&lt;!&ndash;<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />&ndash;&gt;-->
        <!--<action android:name="android.net.wifi.WIFI_STATE_CHANGED" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:parentActivityName=".MainActivity"
            android:name=".Settings"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ForeCast24h"/>
    </application>

</manifest>